
/* background */
body {
  background-color: #d1b9ed;
  padding: 0px;
  margin: 0px;
  font-family: 'Comfortaa', cursive;
}


/* navbar styles */

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  color: black;
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  position: fixed;
  width: 100%;

}

.nav-item {
  padding: 8px 6px;
  text-align: left;
  font-size: 20px;
  margin-right: 2rem;
}

.nav-item a:link {
  color: black;
  text-decoration: none;
}

.nav-item a:visited {
  color: black;
}

.nav-item a:hover {
  background-color: white;
  font-weight: bold;
  color: teal;
  text-decoration: underline rgb(255, 184, 42) wavy;
}

.nav-list > #active > a {
  background-color: white;
  font-weight: bold;
  color: rgb(216, 19, 91);
  text-decoration: underline rgb(255, 184, 42) wavy;
  animation: animate .5s linear infinite;

}

@keyframes animate {
  0% {
    left: -3px;
  }
  100% {
    left: 30px;
  }
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 1rem;
}

.main {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
padding-top: 120px;
}

/* centre content container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 550px;
  width: 550px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
}

#emoji {
  font-size: 40px;
}

h1 {
  color: rgb(88, 87, 87);
  text-align: center;
  font-size: 60px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  color: #444444;
  font-size: 35px;
}

h3 {
  text-align: center;
  color: #444444;
  font-size: 26px;
}

/* form & submit button */
#welcome {
  position: relative;
  top: -20px;
}

#name-submission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

#name-input {
  width: 400px;
  text-align: center;
  font-size: 22px;
  background-color: #fafafa;
  border-color: #444444;
  border-width: 0.5px;
}

#name-submit-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 18px;
  background-color: #ffc929;
  width: 90px;
  height: 40px;
  border-width: 0px;
  text-align: center;
  color: rgb(88, 87, 87);
  font-size: 20px;
  box-shadow: 5px 5px 10px 1px #d7d6d6;
}

/* learn link buttons & option message */

#choose-text {
  display: none;
  position: relative;
  align-self: center;
  font-size: 30px;
  text-align: center;
  color: rgb(88, 87, 87);
  width: 375px;
  top: -15px;
}

.fade-in {
  animation: 1s ease 1s normal forwards 1 fadein;
  -webkit-animation: 1s ease 1s normal forwards 1 fadein;
  opacity: 0;
}

@keyframes fadein {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

/* mix and learn option buttons container */
#learn-mix-buttons {
  display: none;
  justify-content: space-between;
  position: relative;
  align-self: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 300px;
  animation: 2s ease 2s normal forwards 1 fadein;
  -webkit-animation: 2s ease 2s normal forwards 1 fadein;
  opacity: 0;
}

.select-btn:hover {
 color: white;
 text-decoration: none;
}

/* button style */
.select-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffc929;
  border-radius: 20px;
  height: 55px;
  width: 125px;
  text-align: center;
  color: rgb(88, 87, 87);
  font-size: 23px;
  box-shadow: 5px 5px 10px 1px #d7d6d6;
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////// */
/* learn page styles */

/* colour wheel 'learn' page */
#learn-body {
  background-color: #e7def1;
}

#wheel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
  width: 550px;  
}

/* size qnd positioning of colour dots */
#wheel-container img { 
  display: block;
  position: fixed;
  margin-left: 12em;
  width: 140px; height: 140px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* colour dots */
#red {transform: translate(12em); }
#orange { transform: rotate(300deg) translate(12em) rotate(-300deg); }
#yellow { transform: rotate(240deg) translate(12em) rotate(-240deg); }
#green { transform: rotate(180deg) translate(12em) rotate(-180deg); }
#blue { transform: rotate(120deg) translate(12em) rotate(-120deg); }
#purple { transform: rotate(60deg) translate(12em) rotate(-60deg); }

/* instruction text (click on colour) */

#choose-colour-msg {
  align-self: center;
  margin-left: -25px;
  margin-top: -5%;
  width: 225px;
}

/* learn colour pages positioning */
.colour-page {
  display: none;
  position: relative;
  bottom: 450px;
}

/* elements in colour pages (text, pictures, background) */

/* return to colour wheel button & container */
.wheel-return-container {
  display: flex;
  justify-content: flex-start;
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 50%;
}

.wheel-return-btn {
  background-color: #ffc929;
  border-radius: 20px;
  border-style: none;
  height: 65px;
  width: 225px;
  font-size: 7px;
  text-align: center;
  color: rgb(88, 87, 87);
  font-size: 23px;
  box-shadow: 5px 5px 10px 1px #d7d6d6;
  text-decoration: none;
}
.colour-txt {
  font-weight: bold;
}
.overlap-secondary {
  width: 10%;
  height: 10%;
}

/* red page*/
#page-red {
  display: none;
}
#red-txt {
  color: #ed1c24;
}

/* orange page */
#page-orange {
  display: none;
}
#orange-txt {
  color: #e87a22;
}

/* yellow page*/
#page-yellow {
  display: none;
}
#yellow-txt {
  color: #eecc0e;
}
/* green page */
#page-green {
  display: none;
}
#green-txt {
  color: #00a61b;
}

/* blue page */
#page-blue {
  display: none;
}
#blue-txt {
  color: #3479f8;
}

/* purple page*/
#page-purple {
  display: none;
}
#purple-txt {
  color: #ac34f8;
}


/* //////////////////////////////////////////////////////////// */
/* about page content */
.body-about {
  background-color: rgb(216, 19, 91) ;
}

.about-colour {
  font-size: 30px;
  padding: 20px;
}

/* blue page info */
.body-learn-blue {
  background-color:rgb(235, 221, 221);
}

.blue-title {
  font-size: 60px;
  text-align: center;
  color: RoyalBlue;
   text-decoration: underline;
}

.blue-info{
  font-size: 30px;
  text-align: center;
}

/* red page info */
.body-learn-red {
  background-color:rgb(235, 221, 221);
}

.red-title {
  font-size: 60px;
  text-align: center;
  color: Red;
  text-decoration: underline;
}

.red-info{
  font-size: 30px;
  text-align: center;
}

/* yellow page info */
.body-learn-yellow {
  background-color:rgb(235, 221, 221);
}

.yellow-title {
  font-size: 60px;
  text-align: center;
  color: #ffc929;
}

.yellow-info{
  font-size: 30px;
  text-align: center;
}

/* green page info */
.body-learn-green {
  background-color:rgb(235, 221, 221);
}

.green-title {
  font-size: 60px;
  text-align: center;
  color: DarkGreen;
  text-decoration: underline;
}

.green-info{
  font-size: 30px;
  text-align: center;
}

.green-info-further{
  font-size: 30px;
  text-align: center;
}

/* purple page info */
.body-learn-purple {
  background-color:rgb(235, 221, 221);
}

.purple-title {
  font-size: 60px;
  text-align: center;
  color: DarkOrchid;
  text-decoration: underline;
}

.purple-info{
  font-size: 30px;
  text-align: center;
}

.purple-info-further{
  font-size: 30px;
  text-align: center;
}

/* orange page info */
.body-learn-orange {
  background-color:rgb(235, 221, 221);
}

.orange-title {
  font-size: 60px;
  text-align: center;
  color: OrangeRed;
  text-decoration: underline;
}

.orange-info{
  font-size: 30px;
  text-align: center;
}

.orange-info-further{
  font-size: 30px;
  text-align: center;
}



/* testing

.overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: #ed1c24;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay-txt {
  color: white;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
