
/* background */
body {
  background-color: #d1b9ed;
  padding: 0px;
  margin: 0px;
  font-family: 'Comfortaa', cursive;
}

/* Desktops */
@media (min-width:768px) { .container-block {  } }

/* Mobiles */
@media (max-width:767px) { .container-block {  } }


/* navbar styles */

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  color: black;
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  position: fixed;
  width: 100%;
}

.nav-item {
  padding: 8px 4px;
  text-align: left;
  font-size: 21px;
  margin-right: 2rem;
}

.nav-item a:link {
  color: black;
  text-decoration: none;
}

.nav-item a:visited {
  color: black;
}

.nav-item a:hover {
  background-color: white;
  font-weight: bold;
  color: teal;
  text-decoration: underline rgb(255, 184, 42) wavy;
}

.nav-list > #active > a {
  background-color: white;
  font-weight: bold;
  color: rgb(216, 19, 91);
  text-decoration: underline rgb(255, 184, 42) wavy;
  animation: animate .5s linear infinite;
}

@keyframes animate {
  0% {
    left: -3px;
  }
  100% {
    left: 30px;
  }
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 1rem;
}

/* flexbox parent container */
.main {
padding-top: 120px;
display: flex; 
justify-content: center;
flex-wrap: wrap; 
}


/* middle container (index and learn pages)

/* Desktops: flexbox child columns */
/* @media (min-width: 768px) {
  .side-child { width: 100% }
} */

/* Mobiles: flexbox child columns */
/* @media (max-width: 767px) {
    .side-child { width: 100% }
    .side-child { margin-bottom: 32px }
} */

/* Desktops: inner padding for child columns */
/* @media (min-width: 768px) {
    .side-child.item-col-padding { padding: 1.8% 2% 2.2% 2% }
} */

/* Mobiles: inner padding for child columns  */
/* @media (max-width: 767px) {
    .side-child.item-col-padding { padding: 6.5% 7% 7% 7% } */


.middle-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  padding: 5% 5%;
  width: 550px;
  height: 550px;
}

/* heading styles */
h1 {
  color: rgb(88, 87, 87);
  text-align: center;
  font-size: 60px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  color: #444444;
  font-size: 35px;
}

h3 {
  text-align: center;
  color: #444444;
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* home page styles */

/* hello, form & submit button*/
#emoji {
  font-size: 40px;
  position: relative;
  top: -10px;
}

#welcome {
  position: relative;
  top: -35px;
}

#name-submission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

#name-input {
  width: 400px;
  text-align: center;
  font-size: 22px;
  background-color: #fafafa;
  border-color: #444444;
  border-width: 0.5px;
}

#name-submit-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 18px;
  background-color: #ffc929;
  width: 90px;
  height: 40px;
  border-width: 0px;
  text-align: center;
  color: rgb(88, 87, 87);
  font-size: 20px;
  box-shadow: 5px 5px 10px 1px #d7d6d6;
}

#name-submit-btn:hover {
  color: white;
}

/* learn or quiz link buttons & option message */
#choose-text {
  display: none;
  position: relative;
  align-self: center;
  font-size: 30px;
  text-align: center;
  color: rgb(88, 87, 87);
  width: 375px;
  top: -15px;
}

.fade-in {
  animation: 1s ease 1s normal forwards 1 fadein;
  -webkit-animation: 1s ease 1s normal forwards 1 fadein;
  opacity: 0;
}

@keyframes fadein {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

/* mix and learn option buttons container */
#learn-mix-buttons {
  display: none;
  justify-content: space-evenly;
  position: relative;
  align-self: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  width: 375px;
  animation: 2s ease 2s normal forwards 1 fadein;
  -webkit-animation: 2s ease 2s normal forwards 1 fadein;
  opacity: 0;
}

.select-btn:hover {
 color: white;
 text-decoration: none;
}

/* button style */
.select-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffc929;
  border-radius: 20px;
  height: 50px;
  width: 155px;
  text-align: center;
  color: rgb(88, 87, 87);
  font-size: 20px;
  box-shadow: 5px 5px 10px 1px #d7d6d6;
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* learn page styles */

/* landing page */
#learn-body {
  background-color:  rgb(196, 211, 79);
}

#learn-page {
  background-color:  white;
}

/* ======== left container ========= */

/* Desktops: flexbox child columns */
/* @media (min-width: 768px) {
  .side-child { width: 29% } */

/* Mobiles: flexbox child columns */
/* @media (max-width: 767px) {
    .middle-child { width: 100% }
}

/* Desktops: inner padding for child columns */
/* @media (min-width: 768px) {
    .side-child.item-col-padding { padding: 1.8% 2% 2.2% 2% }
} */

/* Mobiles: inner padding for child columns  */
/* @media (max-width: 767px) {
    .side-child.item-col-padding { padding: 6.5% 7% 7% 7% }
} */ 

.side-child {
  flex: 0 0 300px;
  flex-direction: row;
  align-content: center;
}

/* learn page right hand button */
#child-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
}
#wheel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 20px;
}

/* learn page left hand button */
#child-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
}
#quiz-ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  background-color: white;
  width: 300px;
  height: 300px;
}

/* circle container */
#wheel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* styles of colour circles (except colour & transform) */
.colour-img { 
  position: fixed;
  flex-shrink: 1;
  width: 155px; height: 155px;
  box-shadow: 5px 5px 10px 1px #8154675f;
  border-radius: 50%;
}

/* colour dots position, colour, & text on hover*/
/* frog */
#frog {
  font-size: 80px;
  margin-top: -40px;
}

#frog-speak {
  display: none;
  position: relative;
  width: 451px;
  left: 321px;
  margin-top: -61px;
}

#frog-img {
  width: 85px
}

#frog-txt {
  display: none;
  width: 285px;
  font-size: 20px;
  position: relative;
  margin-top: -100px;
}


/* red */
#red {
  display:flex;
  justify-content: center;
  align-items: center;
  transform: translate(14em);
  background-color: #ed1c24;
  color: #ed1c24;
 }
 #red:hover {
  color: white;
  transform: translate(14em) scale(1.2,1.2);
 }

/* orange */
#orange {
  display:flex;
  justify-content: center;
  align-items: center; 
  transform: rotate(300deg) translate(14em) rotate(-300deg);
  background-color: #e87a22;
  color: #e87a22;
}
#orange:hover {
  color: white;
  transform: rotate(300deg) translate(14em) rotate(-300deg) scale(1.2,1.2);
 }

 /* yellow */
#yellow { 
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(240deg) translate(14em) rotate(-240deg);
  background-color: #eecc0e;
  color: #eecc0e;
}
#yellow:hover {
  color: white;
  transform: rotate(240deg) translate(14em) rotate(-240deg) scale(1.2,1.2);
 }

 /* green */
#green { 
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg) translate(14em) rotate(-180deg);
  background-color: #00a61b;
  color: #00a61b;
}
#green:hover {
  color: white;
  transform: rotate(180deg) translate(14em) rotate(-180deg) scale(1.2,1.2);
 }

 /* blue */
#blue { 
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(120deg) translate(14em) rotate(-120deg);
  background-color: #3479f8;
  color: #3479f8;
}
#blue:hover {
  color: white;
  transform: rotate(120deg) translate(14em) rotate(-120deg) scale(1.2,1.2);
 }

 /* purple */
#purple { 
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(60deg) translate(14em) rotate(-60deg);
  background-color: #ac34f8;
  color: #ac34f8;
}
#purple:hover {
  color: white;
  transform: rotate(60deg) translate(14em) rotate(-60deg) scale(1.2,1.2);
 }


/* learn colour pages positioning & visibility */
.colour-page {
  display: none;
}

/* elements in colour pages (text, pictures, background) */

/* return to colour wheel button & container */

.colour-page-btn {
  background-color: #ffc929;
  border-radius: 20px;
  border-style: none;
  height: 35px;
  width: 130px;
  text-align: center;
  color: rgb(88, 87, 87);
  font-size: 20px;
  box-shadow: 5px 5px 10px 1px #d7d6d6;
  text-decoration: none;
  margin-top: 30px;
}

.colour-page-btn:hover {
 color: white;
}

#quiz-btn {
  width: 150px;
}

.colour-txt {
  font-weight: bold;
}

#primary-emoji {
  font-size: 85px;
}

.overlap-secondary {
  width: 28%;
  height: 28%;
}

.bold {
  font-weight: bold;
}

/* red page*/
#page-red {
  display: none;
}
#red-txt {
  color: #ed1c24;
}

/* orange page */
#page-orange {
  display: none;
}
#orange-txt {
  color: #e87a22;
}

/* yellow page*/
#page-yellow {
  display: none;
}
#yellow-txt {
  color: #eecc0e;
}
/* green page */
#page-green {
  display: none;
}
#green-txt {
  color: #00a61b;
}

/* blue page */
#page-blue {
  display: none;
}
#blue-txt {
  color: #3479f8;
}

/* purple page*/
#page-purple {
  display: none;
}
#purple-txt {
  color: #ac34f8;
}


/* //////////////////////////////////////////////////////////// */
/* about page content */
.body-about {
  background-color: #9ad2ab;
}

#about-colour {
  font-size:25px;
  padding: 30px;
}

/* testing

.overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: #ed1c24;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay-txt {
  color: white;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
