
/* background */
body {
  background-color: #d58bf0;
}

main {
  transition: background 1s;
}

/* navbar styles */

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  color: black;
  text-decoration: none;
  list-style-type: none;
  background-color: #f2f2f2;
}

.nav-item {
  padding: 8px 6px;
  text-align: left;
  font-size: 20px;
  margin-right: 2rem;
}

.nav-item a:link {
  color: black;
  text-decoration: none;
}

.nav-item a:visited {
  color: black;
}

.nav-item a:hover {
  background-color: rgba(250, 242, 242, 0.961);
  font-weight: bold;
  color: rgb(216, 19, 91);
  text-decoration: underline teal wavy;
}

.nav-list > #active > a {
  background-color: rgba(250, 242, 242, 0.961);
  text-decoration: underline rgb(255, 184, 42) wavy ;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 1rem;
}

/* centre content container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  min-height: 550px;
  background-color: white;
  margin-top: 45px;
  border-radius: 50%;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 184, 42);
  text-align: center;
  font-size: 55px;
}

h2 {
  text-align: center;
  color: #444444;
  font-size: 35px;
}

#name-submission {
  width: 350px;
  margin-top: 0px;
  margin-right: 30px;
}

#name-submit-btn {
  display: flex;
  flex-direction: center;
  justify-content: center;
  border-radius: 20%;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-width: 2px;
  border-color: rgb(255, 184, 42);
  text-align: center;
  color: black;
}

.learn-mix-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

.learn-mix-buttons a:link, a:visited {
 color: white;
}

#mix-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  font-size: 18px;
  background-color: rgb(0, 128, 128, 0.75);
  border-width: 0px;
  border-radius: 50%;
  height: 105px;
  width: 105px;
  text-align: center;
}

#learn-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  background-color: rgb(216, 19, 91);
  border-width: 0px;
  border-radius: 50%;
  height: 105px;
  width: 105px;
  text-align: center;
}

/* learn page styles */

.learn-body {
  background-color: rgb(235, 221, 221);
}

.circle-container {
  width: 550px;
  height: 550px;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: 0px;
  border-radius: 50%;
  margin: 1.75em auto 0;
}

.circle-container a {
  display: block;
  position:absolute;
  top: 50%; left: 50%;
  width: 150px; height: 150px;
  margin: -3.5em;
}

.circle-container img { 
  display: block; width: 100%; 
}

#red {transform: translate(12em); }
#orange { transform: rotate(300deg) translate(12em) rotate(-300deg); }
#yellow { transform: rotate(240deg) translate(12em) rotate(-240deg); }
#green { transform: rotate(180deg) translate(12em) rotate(-180deg); }
#blue { transform: rotate(120deg) translate(12em) rotate(-120deg); }
#purple { transform: rotate(60deg) translate(12em) rotate(-60deg); }

.wheel-info {
  text-align: center;
}

.body-learn-blue {
  background-color: rgb(68, 86, 244);
}

.body-learn-green {
  background-color: rgb(42, 172, 42);
}

.body-learn-orange {
  background-color:rgb(234, 112, 41);
}

.body-learn-purple {
  background-color: rgb(217, 74, 233);
}

.body-learn-red {
  background-color: rgb(234, 40, 40);
}

.body-learn-yellow {
  background-color: rgb(255, 184, 42);
}


/* about page content */

.body-about {
  background-color: rgb(216, 19, 91) ;
}

.about-colour {
  font-size: 30px;
  padding: 20px;
}

.blue-title{
  font-size: 60px;
  text-align: center;
  color: RoyalBlue;
}

.blue-info{
  font-size: 30px;
  text-align: center;
}
